<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
        <!-- this is footer -->
        		<span>
        &copy; 2021 www.mabbank.com 
                </span>

        <script th:src="@{/theme1/jquery/jquery.min.js}"></script>
		<!-- Bootstrap -->
		<script th:src="@{/theme1/bootstrap/js/bootstrap.min.js}"></script>

        </footer>
    </div>

</div>
</body>
</html>